<p>Bonjour <%= @email %>!</p>

<p>Vous devez vérifier votre compte en cliquant sous le lien ci-dessous:</p>

<p><%= link_to 'Devenir citoyen', confirmation_url(@resource, confirmation_token: @token) %></p>
